[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
celery = {extras = ["redis"], version = "*"}
psycopg2 = "*"
coverage = "*"
drf-yasg = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
